---
import Layout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

const socialDescription = `SDK & DYMS recognizes the importance of social development through the project
"United for a Clean Society" by organizing waste collection activities with the community,
providing knowledge about waste separation, and promoting volunteerism within the organization
to enhance quality of life and reduce environmental impact in the long term`;
---

<Layout title="General Information" lang="en">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/company_head.jpg"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto lg:h-[750px] bg-white pt-20 pb-30 hover:bg-gray-100 flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold mb-4 text-blue-600">Company History</h1>

      SDK & DYMS recognizes the importance of the environment in all business
      processes. We are committed to being an organization that is responsible
      to society and the environment through operations that align with the
      Sustainable Development Goals (SDGs) and the principles of ESG
      (Environment, Social, Governance) by placing importance on developing
      environmentally friendly innovations, reducing the impact of production
      processes, and collaborating with communities to conserve natural
      resources.
    </div>
  </section>

  <section
    id="home_social"
    class="w-full h-auto lg:h-[750px] bg-white pt-20 pb-30 hover:bg-gray-100"
  >
    <div class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] relative h-full">
      <div class="h-full w-full">
        <img
          src="/web_asset/company.jpg"
          alt="Social Development"
          class="w-full h-xl object-cover"
          style="border-end-end-radius: 0.5rem; border-start-end-radius: 0.5rem;"
        />
      </div>
      <div class="relative flex items-center justify-start px-6 lg:px-12">
        <Card
          title="Social Development"
          description={socialDescription}
          showButton={true}
          route="sustainability_social_development"
        />
      </div>
    </div>
  </section>
</Layout>
