---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="Human Resources" lang="en">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/hr.jpg"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto pt-25 pb-30 bg-white flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600 pb-5">Human Resources</h1>
      SRK & DYMS places great importance on continuous personnel development, believing
      that "Quality molds start with quality people." We provide training and promote
      ongoing learning so that employees have the skills, expertise, and ability
      to efficiently adapt to changes in the industry. As a result, our personnel
      are proficient in every step of the production process, ready to professionally
      meet customer needs.
    </div>
  </section>
  <section id="home_env" class="w-full h-auto bg-gray-200 pt-20 pb-30">
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600 mb-4">Job Openings</h1>
    </div>
  </section>
</Layout>
