---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="contact" lang="en">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/contact.png"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto pt-15 pb-15 bg-white flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600">Location</h1>
      10 Map Phai Subdistrict, Ban Bueng District, Chon Buri 20170, Thailand
    </div>
  </section>
  <section id="home" class="flex flex-col">
    <div class="flex flex-col items-center justify-center text-start">
      <div class="w-full">
        <img src="/web_asset/map.jpg" alt="homeHeroAlt" class="w-full h-auto" />
      </div>
    </div>
  </section>
</Layout>
