---
import Layout from "../../layouts/BaseLayout.astro";
import Button from "../../components/Button.astro";
---

<Layout title="Home" description="Your page description here">
  <div class="items-center justify-center h-dvh">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full h-screen">
          <img src="/Bg1.png" alt="homeHeroAlt" class="w-full h-auto" />
        </div>
      </div>
    </section>
  </div>
  <section id="home_env" class="relative h-dvh w-full overflow-hidden">
    <div class="static justify-right items-end flex mt-64">
      <img
        src="/public/web_asset/env_dev.jpg"
        alt="Social Development"
        class="h-2xl rounded-l-lg shadow-lg"
      />
    </div>

    <div
      class="absolute inset-0 flex items-center justify-end lg:justify-center p-6 lg:p-12 mr-64"
    >
      <div
        class="bg-white max-w-sm w-full drop-shadow-2xl shadow-lg transform lg:translate-x-1/4 transition-transform duration-300"
      >
        <div class="p-6">
          <h3 class="font-bold text-xl mb-2 text-blue-600">
            Environmental development
          </h3>
          <p class="text-gray-700 text-base mb-4">
            SDK & DYMS company focuses on organizational development in
            conjunction with the environmental conservation with the "SDK & DYMS
            GREEN Mission" guideline that covers the use of clean energy,
            recycling, adding green space. And raising environmental awareness
            in organizations and communities With the goal of reducing
            environmental impacts And promote sustainability in all dimensions
            of the business
          </p>
          <Button />
        </div>
      </div>
    </div>
  </section>
  <section id="home_env" class="relative h-dvh w-full overflow-hidden">
    <div class="static justify-left items-end flex mt-64">
      <img
        src="/public/web_asset/social_dev.jpg"
        alt="Social Development"
        class="h-2xl rounded-r-lg shadow-lg"
      />
    </div>

    <div
      class="absolute inset-0 flex items-center justify-end lg:justify-center p-6 lg:p-12 mr-64"
    >
      <div
        class="bg-white max-w-sm w-full drop-shadow-2xl shadow-lg transform lg:translate-x-1/4 transition-transform duration-300"
      >
        <div class="p-6">
          <h3 class="font-bold text-xl mb-2 text-blue-600">
            Social development
          </h3>
          <p class="text-gray-700 text-base mb-4">
            SDK & DYMS company promotes social development through the project
            "Together for a Clean Society" by organizing community clean-up
            activities, providing knowledge about waste segregation, and
            promoting volunteerism within the organization to enhance the
            quality of life and reduce environmental impacts in the long term.
          </p>
          <Button />
        </div>
      </div>
    </div>
  </section>
</Layout>
