---
import Layout from "../../layouts/BaseLayout.astro";
import Button from "../../components/Button.astro";
---

<Layout title="Sustainability Environmental Development">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img src="/Bg2.png" alt="homeHeroAlt" class="w-full h-auto" />
        </div>
      </div>
    </section>
  </div>

  <section
    id="home_env"
    class="w-full h-auto lg:h-[500px] bg-white pt-20 pb-30 hover:bg-gray-100"
  >
    <div class="grid grid-cols-1 lg:grid-cols-[1.7fr_2fr] relative h-full">
      <div class="relative flex items-center justify-end px-6 lg:px-12">
        <div
          class="bg-white rounded-xl shadow-xl max-w-md w-full p-6 lg:p-8 z-10
        lg:translate-x-1/4 transition-transform duration-300"
        >
          <h3 class="text-xl font-bold text-blue-600 mb-4">
            Environmental Development
          </h3>
          <p class="text-gray-700 mb-6 leading-relaxed"></p>
          <Button />
        </div>
      </div>
      <div class="h-full w-full">
        <img
          src="/web_asset/env_dev.jpg"
          alt="Environmental Development"
          class="w-full h-full object-cover"
          style="border-end-start-radius: 0.5rem; border-start-start-radius: 0.5rem;"
        />
      </div>
    </div>
  </section>

  <section
    id="home_social"
    class="w-full h-auto lg:h-[500px] bg-white pt-20 pb-30 hover:bg-gray-100"
  >
    <div class="grid grid-cols-1 lg:grid-cols-[1.7fr_2fr] relative h-full">
      <div class="h-full w-full">
        <img
          src="/web_asset/social_dev.jpg"
          alt="Social Development"
          class="w-full h-full object-cover"
          style="border-end-end-radius: 0.5rem; border-start-end-radius: 0.5rem;"
        />
      </div>
      <div class="relative flex items-center justify-start px-6 lg:px-12">
        <div
          class="bg-white rounded-xl shadow-xl max-w-md w-full p-6 lg:p-8 z-10
        lg:-translate-x-1/4 transition-transform duration-300"
        >
          <h3 class="text-xl font-bold text-blue-600 mb-4">
            Social Development
          </h3>
          <p class="text-gray-700 mb-6 leading-relaxed"></p>
          <Button />
        </div>
      </div>
    </div>
  </section>
</Layout>
