---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="Vision and Policy" lang="en">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/Vision_policy.png"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto pt-15 pb-15 bg-gray-200 flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.55rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600">Vision and Policy</h1>
      Philosophy of SRK & DYMS <br />
      Precision Quality, Sustainable Trust
    </div>
  </section>
  <section id="home_env" class="w-full h-auto bg-white pt-20 pb-30">
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.55rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600 mb-4">
        Vision of Leadership
      </h1>

      <img
        src="/web_asset/profile.jpg"
        alt="Social Development"
        class="w-full h-xl object-cover pt-5 pb-10"
        style="border-end-end-radius: 0.5rem; border-start-end-radius: 0.5rem;"
      />
    </div>
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto mt-6 w-full h-full"
    >
      <p class="mt-4 text-gray-700">
        SRK & DYMS Company<br />
        was founded with the intention of being a key foundation in the mold manufacturing
        industry in the ASEAN region. We operate by adhering to international quality
        standards, driving the organization with advanced technology and long-standing
        specialized expertise, to support the stable growth of the industrial sector.
      </p>
      <p class="mt-4 text-gray-700">
        Although in the beginning SRK & DYMS focused on relying on internal
        skills and processes, as the business world rapidly changes and
        environmental issues become a shared challenge for all sectors, we
        recognize the need to collaborate with other industrial networks,
        including research institutes and government agencies, to drive mold
        innovation to effectively meet the needs of the future world.
      </p>
      <p class="mt-4 text-gray-700">
        Environmental issues, especially Carbon Neutrality, are one of the key
        goals that SRK & DYMS prioritizes. We are committed to reducing
        environmental impact through process improvement, the use of clean
        energy, and employee participation in sustainability activities, so that
        our production aligns with the needs of the modern world.
      </p>
      <p class="mt-4 text-gray-700">
        At the same time, we believe that the diversity of our personnel is the
        heart of innovation. Our employees come from different backgrounds,
        experiences, and perspectives, which is a valuable intellectual asset.
        Creating an open environment where everyone can fully express their
        potential is therefore my important mission as the leader of the
        organization.
      </p>
      <p class="mt-4 text-gray-700">
        Adhering to the principle of “Building the future together through
        precision and responsibility,” SRK & DYMS will not only be a strong mold
        manufacturer in the industrial sector, but also a key driving force in
        building a progressive society alongside long-term sustainability.
      </p>
    </div>
  </section>
</Layout>
