---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div >
    <img src="/Bg2.png" alt="Logo" style="width: 100%; display: block; height: auto;" />
  </div>
</BaseLayout>
