---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<footer class="bg-gray-100 text-center text-xs py-4 text-gray-500">
  <div class="container mx-auto px-4">
    {t("footer")}
  </div>
</footer>
