---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="ตืดต่อเรา" lang="th">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/contact.png"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto pt-15 pb-15 bg-white flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.55rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600">ที่ตั้ง</h1>
      10 ตำบล มาบไผ่ อำเภอบ้านบึง ชลบุรี 20170
    </div>
  </section>
  <section id="home" class="flex flex-col">
    <div class="flex flex-col items-center justify-center text-start">
      <div class="w-full">
        <!-- <img src="/web_asset/map.jpg" alt="homeHeroAlt" class="w-full h-auto" /> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3698.5777665055653!2d101.06435199397067!3d13.379849183501348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d35004552712f%3A0x486d1adb5bb6fe5e!2sSRK%20SUPPLY%20CO.%2CLTD!5e0!3m2!1sen!2sth!4v1756620748939!5m2!1sen!2sth"
          style="border:0;"
          class="w-full h-[450px]"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</Layout>
