---
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout title="Home" description="Your page description here">
  <div class="bg-[#2b2a2a]">
    <section
      id="Home"
      class="w-full container mx-auto flex items-center justify-center text-center px-4 min-h-screen"
    >
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full h-screen relative">
          <img
            src="/Bg2.png"
            alt="homeHeroAlt"
            class="w-full h-full object-cover"
            width="1920"
            height="1080"
            loading="eager"
            decoding="async"
          />
        </div>
      </div>
    </section>
  </div>
</Layout>
