---
import Layout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

const socialDescription = `บริษัท SDK & DYMS ส่งเสริมการพัฒนาสังคมผ่านโครงการ
“รวมพลังเพื่อสังคมสะอาด” โดยจัดกิจกรรมเก็บขยะร่วมกับชุมชน
ให้ความรู้เรื่องการคัดแยกขยะ และส่งเสริมจิตอาสาในองค์กร
เพื่อยกระดับคุณภาพชีวิตและลดผลกระทบต่อสิ่งแวดล้อมในระยะยาว`;
---

<Layout title="วิสัยทัศน์และนโยบาย" lang="th">
  <div class="items-center justify-center">
    <section id="home" class="flex flex-col">
      <div class="flex flex-col items-center justify-center text-start">
        <div class="w-full">
          <img
            src="/web_asset/netwrk.jpg"
            alt="homeHeroAlt"
            class="w-full h-auto"
          />
        </div>
      </div>
    </section>
  </div>
  <section
    id="home_env"
    class="w-full h-auto pt-15 pb-15 bg-gray-200 flex justify-center items-center"
  >
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600">วิสัยทัศน์และนโยบาย</h1>
      ปรัชญา SRK & DYMS <br />
      คุณภาพแม่นยำ ความเชื่อมั่นยั่งยืน
    </div>
  </section>
  <section id="home_env" class="w-full h-auto bg-white pt-20 pb-30">
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem;"
    >
      <h1 class="text-2xl font-bold text-blue-600 mb-4">วิสัยทัศน์ของผู้นำ</h1>

      <img
        src="/web_asset/profile.jpg"
        alt="Social Development"
        class="w-full h-xl object-cover pt-5 pb-10"
        style="border-end-end-radius: 0.5rem; border-start-end-radius: 0.5rem;"
      />
    </div>
    <div
      class="text-start justify-center flex-col items-center w-full max-w-2xl mx-auto mt-6 w-full h-full"
    >
      <p class="mt-4 text-gray-700">
        บริษัท SRK & DYMS<br />
        ก่อตั้งขึ้นจากความตั้งใจที่จะเป็นรากฐานสำคัญในอุตสาหกรรมการผลิตแม่พิมพ์ในภูมิภาคอาเซียน
        เราดำเนินงานโดยยึดมั่นในมาตรฐานคุณภาพระดับสากล พร้อมขับเคลื่อนองค์กรด้วยเทคโนโลยีที่ทันสมัยและความเชี่ยวชาญเฉพาะทางที่สั่งสมมายาวนาน
        เพื่อรองรับการเติบโตของภาคอุตสาหกรรมอย่างมั่นคง
      </p>
      <p class="mt-4 text-gray-700">
        แม้ในช่วงเริ่มต้น SRK & DYMS จะเน้นการพึ่งพาทักษะและกระบวนการภายในองค์กร
        แต่เมื่อโลกธุรกิจเปลี่ยนแปลงอย่างรวดเร็ว
        และปัญหาสิ่งแวดล้อมกลายเป็นความท้าทายร่วมของทุกภาคส่วน
        เราตระหนักถึงความจำเป็นในการร่วมมือกับเครือข่ายอุตสาหกรรมอื่น ๆ
        รวมถึงสถาบันวิจัยและภาครัฐ
        เพื่อขับเคลื่อนนวัตกรรมด้านแม่พิมพ์ให้ตอบสนองต่อโลกอนาคตอย่างมีประสิทธิภาพ
      </p>
      <p class="mt-4 text-gray-700">
        ประเด็นเรื่องสิ่งแวดล้อม โดยเฉพาะ ความเป็นกลางทางคาร์บอน (Carbon
        Neutrality) คือหนึ่งในเป้าหมายสำคัญที่ SRK & DYMS ให้ความสำคัญ
        เรามุ่งมั่นลดผลกระทบทางสิ่งแวดล้อมผ่านการปรับปรุงกระบวนการผลิต
        การใช้พลังงานสะอาด และการมีส่วนร่วมของพนักงานในกิจกรรมด้านความยั่งยืน
        เพื่อให้การผลิตของเราสอดคล้องกับความต้องการของโลกยุคใหม่
      </p>
      <p class="mt-4 text-gray-700">
        ในขณะเดียวกัน เราเชื่อว่าความหลากหลายของบุคลากรคือหัวใจของนวัตกรรม
        พนักงานของเรามีที่มา ประสบการณ์ และมุมมองที่แตกต่าง
        ซึ่งเป็นต้นทุนทางปัญญาที่ทรงคุณค่า
        การสร้างสภาพแวดล้อมที่เปิดกว้างให้ทุกคนได้แสดงศักยภาพอย่างเต็มที่จึงเป็นภารกิจสำคัญของผมในฐานะ
        ผู้นำองค์กร
      </p>
      <p class="mt-4 text-gray-700">
        ยึดมั่นในหลักคิด “สร้างอนาคตร่วมกัน ผ่านความแม่นยำและความรับผิดชอบ” SRK
        & DYMS จะไม่เพียงเป็นผู้ผลิตแม่พิมพ์ที่แข็งแกร่งในภาคอุตสาหกรรม
        แต่จะเป็นพลังสนับสนุนสำคัญในการสร้างสังคมที่ก้าวหน้าควบคู่กับความยั่งยืนในระยะยาว
      </p>
    </div>
  </section>
</Layout>
