---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";

const languages = [
  { code: "th", label: "TH" },
  { code: "en", label: "EN" },
];
const currentLang = Astro.params.lang || "th"; // Get from URL or default
---

<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <title>{title ?? "SRK & DYMS"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="font-sans text-gray-800 m-0 p-0">
    <header class="sticky top-0 z-50 bg-white shadow">
      <div class="flex items-center justify-between border-b">
        <div class="">
          <img
            src="/Logo.png"
            alt="Logo"
            class="h-20 object-contain pl-40 p-3"
          />
        </div>
        <LanguageSwitcher currentLang={currentLang} languages={languages} />
      </div>
      <Navbar />
    </header>
    <div class="background"></div>
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
